################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/AndroidExplorer/obj
/AndroidExplorer/bin
/AndroidExplorer/publish